{% extends 'contas/base.html' %}

{% block title %} Form {% endblock %}

{% block content %}
    <!--
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="mb-3">              
            {{ form.as_p }}   
    </form>
    -->
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="mb-3">              
                <!--{{ form.as_p }}-->   
            <label for="id_description" class="form-label">Description</label>
            <input type="text", class="form-control", value="{{transation.description}}", id="id_description", name="description">
        </div>
              
        <div class="mb-3">
            <label for="id_value" class="form-label">Value</label>
            <input type="value" class="form-control" value="{{transation.value}}" id="id_value" name="value" >
        </div>

        <div class="mb-3">
            <label for="id_category" class="form-label">Category</label>
            <select class="form-control" id="id_category" value="{{transation.category}}" name="category">
                {% for item in cat %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="id_observation" class="form-label">Observation</label>
            <textarea class="form-control" id="id_observation" value="
            " name="observation">{{transation.observation}}</textarea>


        </div>
        <button type="submit" class="btn btn-primary">{{ action }}</button>
    </form>
{% endblock %}


